<!DOCTYPE html>
<html lang="de">
<head>
    <title>Check Out</title>
</head>
<body>
    <form action="/checkout" method="POST">
        <button type = "submit">checkout</button>
    </form>
</body>

</html>