<!DOCTYPE html>
<html lang="de">
<head>
    <title>Check In</title>
</head>
<body>

    <form action="/checkin" method="POST">
            Vorname: <input type="text" name = "vorname"> <br>
            Nachname: <input type="text" name = "nachname"> <br>
        <button type = "submit">checkin</button>
    </form>
</body>
</html>