<!DOCTYPE html>
<html lang="de">
<head>
    <title>Welcome</title>
</head>
<body>
    <a href="/checkin">Checkin</a>
    <a href="/checkout">Checkout</a>
    <a href="/checkinlist">Liste der Eingecheckten</a></br>
    <%if(vorname != null){%> 
        <p>Eingelogt als <%=vorname%></p>
    <%}%> 
</body>
</html>