<!DOCTYPE html>
<html lang="de">
<head>
    <title>Schon eingecheckt</title>
</head>
<body>
    <p>du bist noch nicht eingecheckt</p></br>
    <a href="/index">wieder zur Startseite</a>
</body>
</html>